name: Hello World

on: [push]

jobs:
  Hello-World-Job:
    runs-on:
      - codebuild-test-${{ github.run_id }}-${{ github.run_attempt }}

    steps:
      - run: echo "Hello World"
      - run: echo "This is running inside a GitHub Actions workflow using CodeBuild as the runner"